{% load static %}
<script>
  {% if profile.hasCVs %}
  let hasCV = true
  {% else %}
  let hasCV = false
  {% endif %}
  function OnKnowledgeClick(input, key, nombre, code){
    let form = input.form
    let id = form[`knowledge-key-${key}`].value
    let name = form[`knowledge-name-${key}`].value
    let newScore = form[`new-score-${key}`].value
    let curScore = form[`current-score-${key}`].value
    let emote = document.getElementById(`${key}-emote${newScore}`)
    let text = document.getElementById(`${code}`)
    let checkbox = document.getElementById(`${code}-box`)

    if (curScore == newScore){
      //Remove
      RemoteRemoveKnowledge(id, nombre)
      if (newScore == -1) {
        document.getElementById(`knowledge-line-${key}`).classList.remove('pre-marked')
        document.getElementById(`${key}-pre-marked-li`).remove()
        document.getElementById(code).classList.remove('pre-marked')
      }
      input.checked = false;
      emote.classList.remove('scored');
      text.classList.remove('scored');
      text.classList.add('no-scored');
      checkbox.checked = false;
      form[`current-score-${key}`].value = "0";
    } else{
      //Update
      RemoteUpdateKnowledge(id, nombre, newScore)
      if (curScore != 0 && curScore != -1){ document.getElementById(`${key}-emote${curScore}`).classList.remove('scored') }
      if (curScore == -1) {
        document.getElementById(`knowledge-line-${key}`).classList.remove('pre-marked')
        document.getElementById(`${key}-pre-marked-li`).remove()
        document.getElementById(code).classList.remove('pre-marked')
      }
      emote.classList.add('scored');
      text.classList.remove('no-scored');
      text.classList.add('scored');
      checkbox.checked = true;
      form[`current-score-${key}`].value = newScore;
    }

    updatePremarkedWarning()
    HighlightParents(code);
    CheckPremarkeds(code);
    let toggle = document.getElementById('tree-toggle');
    if (toggle.checked) {OnTreeToggleClick();}
  }

  function CheckPremarkeds(code) {
    if (code.length == 1) return

    let codeParent = code.slice(0, code.length - 1)
    let premarkedChilds = document.querySelectorAll(`[id^="${ codeParent }"].pre-marked`)

    if (!premarkedChilds.length > 0) {
      let indicator = document.querySelector(`#${ codeParent }>.pre-marked-indicator`)
      if (indicator !== null) indicator.remove()
    }
    CheckPremarkeds(codeParent)
  }

  function HighlightParents(code){
    if (code.length == 1){ return;}

    let codeParent = code.slice(0, code.length - 1);
    let nodeParent = document.getElementById(`${codeParent}`);
    let indicator = nodeParent.getElementsByClassName('pre-marked-indicator')
    let checkbox = document.getElementById(`${codeParent}-box`);
    let letter = 'A';
    let node;

    while(document.getElementById(`${codeParent}`+letter)){
      node = document.getElementById(`${codeParent}`+letter);
      if (node.classList.contains('scored')){
        nodeParent.classList.remove('no-scored');
        nodeParent.classList.add('scored');
        checkbox.checked = true;
        return HighlightParents(codeParent);
      }
      letter = String.fromCharCode(letter.charCodeAt()+1)
    }

    nodeParent.classList.remove('scored');
    nodeParent.classList.add('no-scored');
    checkbox.checked = false;
    if (!nodeParent.classList.contains('pre-marked')) {
      if (indicator.length > 0) indicator[0].remove()
    }
    HighlightParents(codeParent);
  }

  function RemoteUpdateKnowledge(key, name, score) {
    let xhr = new XMLHttpRequest();
    xhr.open('post', "{% url 'rc:freelancer:knowledge-update' %}");
    xhr.onreadystatechange = function() {
      if (xhr.readyState === 4) {
        toastr.success('Conocimiento ha sido actualizado con éxito', 'Actualización Completa');
      }
    }

    data = JSON.stringify({
        key: key,
        name: name,
        score: score
    });
    xhr.send(data);
  }

  function RemoteRemoveKnowledge(key, name) {
    let xhr = new XMLHttpRequest();
    xhr.open('post', "{% url 'rc:freelancer:knowledge-delete' %}");
    xhr.onreadystatechange = function() {
      if (xhr.readyState === 4) {
        toastr.success('Conocimiento ha sido actualizado con éxito', 'Actualización Completa');
      }
    }

    data = JSON.stringify({
        key: key,
        name: name
    });
    xhr.send(data);
  }

  function DisplayLoadingModal() {
    var customElement = $(
      "<div class='modal'><div class='spinner'></div><h1>Estamos analizando tu portafolio, esto tomará un minuto 😉</h1></div>"
  );
  $.LoadingOverlay("show", {
      image       : "",
      custom      : customElement,
      background  : "rgba(0, 0, 0, 0.6)",
  });
  }

  function updatePremarkedWarning() {
    premarkedKnowledges = document.getElementsByClassName('pre-marked')
    if (premarkedKnowledges.length === 0){
      premarkedWarningDiv = document.getElementById('pre-marked-warning')
      if (premarkedWarningDiv !== null) premarkedWarningDiv.style.display = 'none'
    }
  }

  function OnTreeToggleClick() {
    let toggle = document.getElementById('tree-toggle')
    let groups = document.querySelectorAll('.line-group>.no-scored')
    let lines = document.querySelectorAll('.knowledge-line>.no-scored')

    if (!toggle.checked) {
      Array.from(groups).forEach(function (n) { n.parentNode.style.display='list-item';})
      Array.from(lines).forEach(function (n) { n.parentNode.style.display='';})
    }
    else {
      Array.from(groups).forEach(function (n) { n.parentNode.style.display='none';})
      Array.from(lines).forEach(function (n) { n.parentNode.style.display='none';})
    }

  }

  function CheckCVs() {
    let hasCV = document.getElementById('cv-container');
    if (hasCV === null) {TogglePremarkedButton();}
  }

  function TogglePremarkedButton() {
    let premarkedButton = document.getElementById('pre-marked-button')
    let currState = premarkedButton.disabled
    if (currState) {premarkedButton.removeAttribute('disabled');}
    else {premarkedButton.setAttribute('disabled', '')}
  }

  function OnCVButtonClick(button) {
    let form = button.form
    let cvInput = form['cv-input']
    cvInput.click();
  }

  function OnCVChange(input){
    let formData = new FormData();
    formData.append("archivo", input.files[0]);
    RemoteUpdateCV(formData);
  }

  function RemoteUpdateCV(body) {
    DisplayLoadingModal()
    let xhr = new XMLHttpRequest();
    xhr.open('post', "{% url 'rc:freelancer:cv-upload-wizard' %}", true);

    xhr.onreadystatechange = function() {
      if (xhr.readyState === 4) {
        $.LoadingOverlay("hide");
        response = JSON.parse(xhr.response);
        if (response.updateTree === 'True'){
          toastr.success('Conocimientos identificados en su portafolio con éxito', 'Identificación Completa');
          premarkedWarningDiv = document.getElementById('pre-marked-warning');
          premarkedWarningDiv.style.display = 'block';
          treeSection = document.getElementById('menu');
          treeSection.innerHTML = '';
          treeSection.innerHTML = response.tree;
          let toggle = document.getElementById('tree-toggle');
          if (toggle.checked) {OnTreeToggleClick()};
        } else {
          toastr.info('No se identificó ningún conocimiento', 'Identificación Completa');
        }
        hasCV = true
        document.getElementById('tree-elements').style.display = "block";
        document.getElementById('third-step-next').disabled = false;
      }
    }
    xhr.send(body);
  }

  $(function () {
    $("#third-step-next").click(function () {
      if ($(this).is("enable")) {
        $(".interested-recolection-one").show();
        $(".title-interested-recolection-one").hide();
      } else {
        $(".interested-recolection-one").hide();
        $(".title-interested-recolection-one").show();
      }
    });
  });
  function OnNextStepClick() {
    if (!hasCV) {
      toastr.error('Debes adjuntar tu CV', 'Información incompleta')
      return
    }
    $('#smartwizard').smartWizard("next");
  }
</script>
<form>
<div class="top-bar-step3">
    <h4>Queremos saber más de ti</h4>
    <div class="button-container">
        <button class="btn sw-btn-prev sw-btn" type="button">Anterior</button>
        <button id="third-step-next" class="btn-primary" type="button" onclick="OnNextStepClick()" style="width: 100%;">Siguiente</button>
    </div>
</div>
<div id="container-upload-form">
    <div class="upload-container">
        <h6>Detectar conocimientos desde mi CV</h6>
        <img src="{% static 'img/upload-cv.svg' %}"/>
        <button type="button" onclick="OnCVButtonClick(this)">Adjunta tu CV</button>
        <input id="cv-input" type="file" style="display: none;" accept=".pdf" onchange="OnCVChange(this)" />
    </div>
</div>
<div id="tree-elements" {% if not profile.hasCVs %} style="display: none;" {% endif %}>
    <div id="pre-marked-warning" class="pre-marked-warning warning-step-three"
        {% if not profile.hasPremarkedKnowledge %}
        style="display:none;"
        {% endif %}
        >
        <img src="{{ imgs.BELL_ICON }}">
        *Hemos detectado los siguientes conocimientos, herramientas y frameworks en tu portafolio,
        por favor selecciona tu nivel de experiencia por cada uno.
    </div>

    <div id="toggle-div">
        <p><strong>Mostrar solo las habilidades que yo he marcado o el sistema LUCI ha detectado:</strong> </p>
        <label class="switch">
        <input type="checkbox" id="tree-toggle" onclick="OnTreeToggleClick()"  />
        <span class="slider round"></span>
        </label>
    </div>

    <div class="elementsContainer">
        <img src="{% static 'img/search-icon.svg' %}" />
        <input type="text" id="tree-search-bar" class="search" placeholder= "Filtre sus habilidades" />
    </div>

    <ul id="menu">
        {% for child in tree.children %}
            {% include "desktop/freelancer/tree-wizard.html" with node=child %}
        {% endfor %}
    </ul>
</div>
</form>
<script>
    let searchTreeBar = document.getElementById('tree-search-bar')

    function removeTildes(s) {
      return s.replace('á', 'a')
              .replace('é', 'e')
              .replace('í', 'i')
              .replace('ó', 'o')
              .replace('ú', 'u');
    }

    function cleanText(str) {return removeTildes(str.toLowerCase());}

    function hide(text) {
      let hides = document.querySelectorAll('.hide-subtree');
        Array.from(hides).forEach(el => el.classList.remove('hide-subtree'));

      let sinekTree = document.getElementById('menu');
      let rootLis = sinekTree.children;

      Array.from(rootLis).forEach(li => traverse(li, text));
    }

    searchTreeBar.addEventListener('keyup', (e) => {
      const searchString = cleanText(e.target.value);
      hide(searchString);
    });

    function traverse(li, text) {
      // Si es Knowledge
      let div = li.firstElementChild;
      if (div.tagName == 'DIV') {
        let labelKnowledge = div.children[1];
        if (!cleanText(labelKnowledge.innerText).includes(text)) {
          div.classList.add('hide-subtree');
          return false;
        }
        return true;
      }

      // si es Group
      let group = li;
      let labelGroup = group.children[2];
      if (!cleanText(labelGroup.innerText).includes(text)) {
        let ul = group.lastElementChild;
        let acc = 0;
        Array.from(ul.children).forEach(li => {
          let containsText = traverse(li, text);
          if (containsText) { acc++; }
        });
        if (acc == 0) {
          group.classList.add('hide-subtree');
          return false;
        }
      }
      return true;
    }

    $(window).on("load", function() {
      let toggle = document.getElementById('tree-toggle')
      toggle.click()
    })
  </script>
