{# Copyright Snk809, Inc. All rights reserved. #}
{% extends "admin/base_site.html" %}
{% load i18n %}

{% block title %}{% if subtitle %}{{ subtitle }} | {% endif %}{{ title }} | Neonaut Settings{% endblock %}

{% block branding %}<h1 id="site-name">Neonaut Settings</h1>{% endblock %}

{% block breadcrumbs %}
<div class="breadcrumbs">
<a href="#">{% translate 'Home' %}</a>
&rsaquo; {% translate 'Password change' %}
</div>
{% endblock %}

{% block content %}
<p>{% translate 'Your password was changed.' %}</p>
{% endblock %}
