{% extends 'desktop/common/dashboard.html' %}

{% load static %}
{% load luci_tags %}

{% block top-menu %}
<div class="nav-icon">
  <img src="{{imgs.SUPPLIER_ICON}}">
  <a class="linked" href="{% url 'site:accountmanager:dashboard-freelancer' %}">Dashboard</a>
</div>
<div class="nav-icon">
  <img src="{{imgs.SUPPLIER_ICON}}">
  <a class="linked" href="{% url 'site:accountmanager:freelancer-list' %}">Proveedores</a>
</div>
<div class="nav-icon nav-selected">
  <img src="{{imgs.INITIATIVE_ICON}}">
  <a class="linked" href="#">Iniciativas</a>
</div>
<div class="nav-icon">
  <img src="{{imgs.PROJECT_ICON}}">
  <a class="linked" href="#">Projectos</a>
</div>
<div class="nav-icon">
  <img src="{{imgs.EVALUATION_ICON}}">
  <a class="linked" href="{% url 'site:accountmanager:freelancer-list' %}">Pruebas</a>
</div>
<div class="dropdown menu-right">
  <button class="dropbtn"><img src="{% static 'img/cogwheel-blue.png' %}"></button>
  <div class="dropdown-content">
    <a href="{% url 'site:account:signout' %}">Cerrar Sesión</a>
  </div>
</div>

{% endblock %}

{% block head %}
{{ block.super }}
<style>{% include 'desktop/accountmanager/freelancer-list.css' %}</style>

<script src="https://code.jquery.com/jquery-1.12.4.js" integrity="sha256-Qw82+bXyGq6MydymqBxNPYTaUXXq7c8v3CwiYwLLNXU=" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.tablesorter/2.29.0/js/jquery.tablesorter.js" integrity="sha256-serXvhbeEKdQIfTFSD3wpNCGNx2+/9py7VXfwLhYTfk=" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/gasparesganga-jquery-loading-overlay@2.1.7/dist/loadingoverlay.min.js"></script>
{% endblock %}

{% block content %}

<style>
  .container-top-title {
    width: 100%;
    margin-bottom: 25px;
    display: flex;
    justify-content: left;
    align-items: center;
    gap: 16px;
  }

  .container-top-title h2 {
    color: var(--bs-primary);
    font-weight: bold;
  }

  .container-top-title label {
    color: var(--bs-secondary);
  }

  .container-sections {
    display: flex;
    flex-direction: row;
  }

  td a{
    color: #18A0FB;
    border-bottom: 1px solid #18A0FB;
  }

  .profile-section {
    padding-top: calc(5 * var(--bs-square));
    padding-bottom: calc(4 * var(--bs-square));
    padding-right: calc(7 * var(--bs-square));
    padding-left: calc(7 * var(--bs-square));
    border-radius: 6px;
    border: 1px solid rgba(44, 44, 44, .2);
    margin-bottom: 2em;
    background-color: white;
  }
  a[class="btn-primary"]{
    text-align: center;
    padding-top: 6px;
    padding-left: 0;
    padding-right: 0;
    height: 24px;
  }
  a[class="btn-primary"]:hover{
    color: white;
  }
</style>

<script>
  function pageChange(){
    $.LoadingOverlay('show');
  }

  $(window).unload(function() {
    $.LoadingOverlay('hide');
  });
</script>

{# subheader #}
<section class="profile-section">
  <div id="loader" class="center"></div>
  <div class="container-top-title">
    <div id="title-separator">
      <div style="padding-right: 15px;">
        <h2 style="color:#FF70A9;">Lista de Iniciativas Activas</h2>
      </div>
    </div>
    <a class="btn-primary" href="{% url 'site:accountmanager:new-initiative' %}" onclick="pageChange();"
    style="margin-bottom: 10px; padding-left: 48px; padding-right: 48px;">Crear Iniciativa</a>
  </div>
  {# end subheader #}

  <div class="container-sections">
    <table class="table table-hover" id="myTable">
      <thead>
      <tr>
        <th>Empresa</th>
        <th>Contacto</th>
        <th>Forma de trabajo</th>
        <th>Nombre clave</th>
        <th>Monto aprox</th>
        <th>Carpeta</th>
        <th>Estado</th>
        <th>Ver más</th>
      </tr>
    </thead>
    <tbody>
    {% for initiative in initiatives %}
      <tr>
        <td>{{initiative.company}}</td>
        <td>{{initiative.contact}}</td>
        <td>
          <span class="chip"
          {% if initiative.workKindCode == 'MP' %} style="background-color:#0079BC;"
          {% elif initiative.workKindCode == 'DP' %} style="background-color:#FF70A9;"
          {% elif initiative.workKindCode == 'BH' %} style="background-color:#22bc00;"
          {% elif initiative.workKindCode == 'RC' %} style="background-color:#bc0000;"
          {% elif initiative.workKindCode == 'SL' %} style="background-color:#7e7e7e;"
          {% elif initiative.workKindCode == 'RS' %} style="background-color:#aba227;"
          {% endif %}>
          <span class="chip-content">
            <label style="color:white; font-weight: bold;"> {{initiative.workKind}} </label>
          </span></span>
        </td>
        <td>{{initiative.name}}</td>
        <td>{{initiative.amount}}</td>
        <td><a href="{{initiative.driveURL}}" target="_blank">Carpeta</a></td>
        <td>
          <span class="chip"
            {% if initiative.stateCode == 'FC' %} style="background-color:#EE3831;"
            {% elif initiative.stateCode == 'D' %} style="background-color:#FFB236;"
            {% elif initiative.stateCode == 'E' %} style="background-color:#22bc00;"
            {% elif initiative.stateCode == 'L' %} style="background-color:#00bca9;" {% endif %}>
          <span class="chip-content">
            <label style="color:white; font-weight: bold;"> {{initiative.state}} </label>
          </span></span>
        </td>
        <td><a href="{% url 'site:accountmanager:quotation' initiative.code  %}" onclick="pageChange();">Cotización</a></td>
      </tr>
    {% endfor %}
    </tbody>
    </table>
  </div>
</section>
<script>
  $(document).ready(function () {
    $("#myTable").tablesorter();
  });
</script>
{% endblock %}