{# Copyright Snk809, Inc. All rights reserved. #}
{% load neodash_nav %}
<style>{% include 'neodash/layout/nav.css' %}</style>
{% neodash_nav %}
{% neodash_nav_item 'neodash:home' '🏠' %}
{% neodash_nav_item 'onboard:dashboard' 'Onboard' %}
{% neodash_nav_item 'onboard:applicant:dashboard' 'Candidatos' %}
{% if object %}
{% neodash_nav_item 'onboard:applicant:list' 'Lista' %}
{% neodash_nav_item 'onboard:applicant:detail' 'Detalle' applicant_id=object.applicant.id %}
{% endif %}
{% neodash_nav_mark 'CV del candidato' %}
{% end_neodash_nav %}
<form method="post" enctype="multipart/form-data">{% csrf_token %}
  <table>
    {{ form }}
  </table>
  <input type="submit" value="Enviar"/>
</form>
