{# Copyright Snk809, Inc. All rights reserved. #}
{% extends 'neodash/base.html' %}

{% load neodash_nav %}

{% block nav %}
{% neodash_nav_item 'neodash:home' '🏠' %}
{% neodash_nav_item 'customers:dashboard' 'Clientes' %}
{% if object %}
{% neodash_nav_item 'customers:list' 'Lista' %}
{% neodash_nav_item 'customers:detail' 'Detalle' customer_id=object.id %}
{% endif %}
{% neodash_nav_mark 'Cliente' %}
{% endblock %}

{% block content %}
<form method="post">{% csrf_token %}
  <table>{{ form }}</table>
  <input type="submit"/>
</form>
{% endblock %}
