{# Copyright Snk809, Inc. All rights reserved. #}
Opciones:
<ul>
  <li><a href="{% url 'neonauts:applicating:configuration:country:main' %}">Países</a></li>
  <li><a href="{% url 'neonauts:applicating:configuration:modality:main' %}">Modalidad</a></li>
  <li><a href="{% url 'neonauts:applicating:configuration:availability:main' %}">Disponibilidad</a></li>
  <li><a href="{% url 'neonauts:applicating:configuration:interest-industry:main' %}">Industrias de interés</a></li>
  <li><a href="{% url 'neonauts:applicating:configuration:interest-subject:main' %}">Áreas o proyectos de interés</a></li>
  <li><a href="{% url 'neonauts:applicating:configuration:english-reading:main' %}">Inglés: lectura</a></li>
  <li><a href="{% url 'neonauts:applicating:configuration:english-writing:main' %}">Inglés: ecritura</a></li>
  <li><a href="{% url 'neonauts:applicating:configuration:english-talking:main' %}">Inglés: conversación</a></li>
</ul>
