{% extends "desktop/legal-info/base.html" %}

{% block selectData %}
<li id="selected"><img src="{{ imgs.DATA_PROTECTION_ICON }}"><a href="{% url 'site:legal-info:data-policy' %}">Política de datos</a></li>
{% endblock %}

{% block legal-content %}
<h2 class="tittle">Políticas de Privacidad y Tratamiento de Datos Personales</h2>
<hr class="tittle">
<p><br>

    De conformidad con lo establecido en la Ley 29733, Ley de Protección de Datos Personales (en adelante, la Ley), el Decreto Supremo 003-2013-JUS, Reglamento de la Ley 29733 (en adelante, el Reglamento) y la normativa de la materia, NEOMADAS S.A.C., identificada con RUC 20609109107 (en adelante, Snk809),, con domicilio en Jirón Ariadna 180, Condominio Parques de Surco 2 , Edificio E1, Departamento 301, Distrito de Santiago de Surco - Lima, le informa mediante estas Políticas de Privacidad y Tratamiento de Datos Personales (en adelante, las Políticas) la forma en la que se tratará su información.

    <br><div class="subtittle">1. ¿Qué información recabamos?</div><br>

    Los proveedores que accedan a nuestros servicios o que contraten con nosotros, aceptan sujetarse a las disposiciones de estas Políticas, lo cual implica que se acepta la recolección de información personal a través de formularios, plataformas web, mensajería, registros, entre otros que sean realizados en el marco de las relaciones entre el Proveedor y Snk809, para lo cual autorizan a Snk809 a hacer uso y realizar el tratamiento de toda la información que se le haya brindado.<br><br>
    Al utilizar los servicios brindados por Snk809, las tribus aceptan los términos y condiciones establecidos en las Políticas, asimismo, declaran que la información brindada es veraz, completa y exacta, lo cual podrá ser verificado por Snk809.

    <br><br><div class="subtittle">2. ¿Para qué fines recabamos y utilizamos su información?</div><br>

    La información brindada por las tribus es utilizada con los siguientes objetivos:<br>

    <ul>
        <li>La información brindada por las tribus será utilizada por Snk809 para poder recibir, evaluar o aceptar las propuestas de los proveedores, a fin de que puedan brindar los servicios ofrecidos.</li>
        <li>Snk809 podrá compartir información de los proveedores a sus clientes, con el objetivo de asegurar una correcta prestación de los servicios ofrecidos por los proveedores y requeridos por los clientes de Snk809.</li>
        <li>Snk809 podrá utilizar la información brindada a fin de atender consultas y reclamos.</li>
        <li>Snk809 podrá divulgar la información brindada por los proveedores con el fin de brindar los servicios ofrecidos por Snk809.</li>
        <li>Snk809 podrá compartir la información de los proveedores con terceros a fin de procurar una correcta prestación de los servicios ofrecidos por Snk809.</li>
        <li>Snk809 podrá compartir la información de los proveedores a autoridades públicas (administrativas, judiciales, tributarias, etc.) cuando sea requerida por éstas o cuando sea necesario para poder defender los intereses legales de Snk809.</li>
        <li>Snk809 podrá utilizar los datos brindados por los proveedores con el objetivo de prestar los servicios ofrecidos; comunicar información relevante; entablar relaciones con proveedores de bienes o servicios; realizar encuestas de satisfacción o sugerencias; tomar acciones destinadas a proteger las plataformas de Snk809 ante un posible ataque, fraude o acciones que atenten contra los intereses de Snk809.</li>
    </ul>

    Según lo señalado, los proveedores aceptan el uso de su información por parte de Snk809 para los fines indicados, para lo cual Snk809 podrá compartir la información de los proveedores con terceros cuando esto sea requerido para el cumplimiento de los fines señalados.<br><br>
    Conforme al artículo 14 de la Ley, Snk809 no requerirá del consentimiento de los proveedores para el tratamiento de datos personales cuando, entre otros, los datos personales sean necesarios para la preparación, celebración y ejecución de una relación contractual en la que el titular de datos personales sea parte, o cuando se trate de datos personales que deriven de una relación científica o profesional del titular y sean necesarios para su desarrollo o cumplimiento.

    <br><br><div class="subtittle">3. ¿Cómo se almacena la información?</div><br>

    La información brindada es almacenada en un banco de datos, el Banco de Datos de Proveedores, administrado por Snk809 en servidores propios. Esta información será almacenada por tiempo indefinido o hasta que el proveedor ejerza su derecho de cancelación. Snk809 garantiza la protección de la información brindada de acuerdo a la Ley, el Reglamento y la normativa pertinente.<br><br>
    En caso los servidores se encuentren fuera del Perú o en otra jurisdicción, los Proveedores autorizan a Snk809 a transferir, almacenar y procesar la información brindada a nivel internacional, de acuerdo a las disposiciones normativas con respecto al flujo transfronterizo.<br><br>
    La responsabilidad de Snk809 no alcanza a los eventos ocurridos producto de virus informáticos, interferencias, problemas de conexión o fallas originadas por causas ajenas a Snk809.

    <br><br><div class="subtittle">4. Derecho de los proveedores</div><br>

    Los proveedores podrán ejercer sus Derechos Arco (acceso, rectificación, oposición o cancelación), así como otros que sean reconocidos por el ordenamiento jurídico. Para este fin deberán remitir su solicitud a la siguiente dirección de correo electrónico: proveedores@neomadas.com.<br><br>
    Snk809 atenderá estas solicitudes de acuerdo a las disposiciones normativas vigentes.<br><br>
    Snk809 podrá conservar información de los proveedores a fin de poder ejercitar su defensa ante un eventual reclamo o denuncia por responsabilidades derivadas del tratamiento de dicha información.

    <br><br><div class="subtittle">5. Cookies</div><br>

    Se podrá utilizar la dirección IP de los proveedores a fin de administrar las plataformas de Snk809, identificar problemas y encontrar patrones de comportamiento. Se utilizarán cookies o tecnologías similares para ofrecer contenidos relevantes para las tribus, así como para poder almacenar los datos de ingreso de estos.

    <br><br><div class="subtittle">6. Sitios web, plataformas y prácticas de terceros</div><br>

    En caso se acceda a un sitio web, plataforma o medio brindado por un tercero distinto a Snk809, así sea mediante las plataformas de esta, Snk809 no será responsable con respecto de las políticas de privacidad brindadas por el tercero.

    <br><br><div class="subtittle">7. Consentimiento</div><br>

    Los proveedores declaran haber leído las Políticas y expresan su consentimiento libre, informado, expreso e inequívoco a fin de que Snk809 trate la información brindada según lo expuesto en las Políticas.<br><br>
    Los proveedores declaran ser mayores de edad o tener capacidad suficiente, de acuerdo al ordenamiento jurídico, para emitir el presente consentimiento.

    <br><br><div class="subtittle">8. Modificación de las Políticas</div><br>

    Snk809 se reserva el derecho de realizar modificaciones a las Políticas, lo cual será comunicado por correo electrónico de forma anticipada a las tribus.

    <br><br><div class="subtittle">9. Cesión de posición contractual</div><br>

    Los proveedores autorizan la cesión de la posición de Snk809 en favor de cualquier persona que (i) quede obligada por la presente Política y/o (ii) sea la nueva responsable de los bancos de datos.<br><br>
    Luego de producida la cesión, Snk809 no tendrá ninguna responsabilidad con respecto de cualquier hecho que ocurra a partir de la fecha de la cesión.

    <br><br><div class="subtittle">10. Contacto</div><br>

    En caso desee contactarse con Snk809 por el contenido de las Políticas, podrá hacerlo a la siguiente dirección de correo electrónico: proveedores@neomadas.com.


</p>
{% endblock %}
