{% extends "desktop/legal-info/base.html" %}

{% block selectTerms %}
<li id="selected"><img src="{{ imgs.INFO_ICON }}"><a href="{% url 'site:legal-info:terms-and-conditions' %}">Terminos y Condiciones</a></li>
{% endblock %}

{% block legal-content %}
<h2 class="tittle">Términos y condiciones</h2>
<hr class="tittle">
<p><br>
    Los presentes términos y condiciones (en adelante, los Términos) regulan el acceso, uso e interacción por parte del registrado en el sistema (en adelante, Proveedor) que provee los servicios ofrecidos a través de la plataforma LUCI, la cual se encuentra respaldado por NEOMADAS S.A.C. (en adelante, Snk809), identificada con RUC 20609109107, con domicilio en Jirón Ariadna 180, Condominio Parques de Surco 2 , Edificio E1, Departamento 301, Distrito de Santiago de Surco - Lima  y domicilio electrónico en soporte@neomadas.com

    <br><div class="subtittle">1. Sobre la plataforma LUCI</div><br>

    LUCI es una plataforma que tiene como principal función conectar a Snk809 con el Proveedor, a fin de que esta última pueda prestar los servicios que le sean requeridos para satisfacer las necesidades de los clientes de Snk809.<br><br>
    En caso el proveedor sea escogido para prestar sus servicios profesionales, estos serán prestados directamente a Snk809. En ningún escenario se entenderá que el proveedor presta sus servicios a los clientes de Snk809, salvo que Snk809 comunique lo contrario por escrito al proveedor.<br><br>
    LUCI está dirigida únicamente a aquellos proveedores que se hayan registrado con el fin de proveer sus servicios a Snk809. Por este motivo, en el marco del uso de LUCI, no se puede interpretar que el proveedor sea un consumidor o cliente de Snk809.

    <br><br><div class="subtittle">2. El proveedor</div><br>

    El proveedor es la persona natural o jurídica que se ha registrado en el sistema LUCI y ofrece servicios a Snk809.<br><br>
    Debido a su modelo de negocio, Snk809 se especializa en la búsqueda de los mejores profesionales, entre los que puede encontrarse el proveedor, para satisfacer las necesidades de sus clientes.<br><br>
    En este sentido, el proveedor contrata e interactúa con Snk809, quien a su vez contrata e interactúa con sus propios clientes.<br><br>
    El proveedor no contrata ni interactúa directamente con los clientes de Snk809, a través de la plataforma LUCI.

    <br><br><div class="subtittle">3. Registro en la plataforma</div><br>

    El proveedor puede acceder a la plataforma de LUCI gratuitamente. A fin de registrarse en la plataforma, la tribu deberá remitir la información que sea solicitada por Neómadas. El Proveedor es responsable por la veracidad, exactitud y vigencia de la información brindada y se compromete a actualizar dicha información cada vez que la misma sea modificada. Neómadas podrá validar que la información ingresada en el registro y el proveedor coincidan.<br><br>
    El registro sólo está disponible para personas mayores de 18 años o con capacidad suficiente según el ordenamiento jurídico.<br><br>
    Cada cuenta es personal, única e intransferible. Está prohibido que un proveedor registre o posea más de una cuenta. En caso se detecte algún incumplimiento, Snk809 podrá cancelar las cuentas afectadas o tomar las medidas que considere pertinentes.

    <br><br><div class="subtittle">4. Vinculación</div><br>

    El proveedor se obliga a operar personalmente su cuenta, así como a resguardar sus datos de acceso a la plataforma SINEK. El proveedor acepta que todas las actuaciones realizadas con su cuenta, la vinculan y obligan, motivo por el que se responsabiliza por todo compromiso, acuerdo, propuesta o consecuencia que se haya originado producto del uso de la cuenta.<br><br>
    El proveedor acepta que toda actuación dentro de la plataforma LUCI se realizará de buena fe, en cumplimiento con el ordenamiento jurídico.

    <br><br><div class="subtittle">5. Condiciones de uso de la plataforma</div><br>

    El uso de la plataforma LUCI por parte del proveedor se encuentra regulado por los Términos. Snk809 podrá publicar convocatorias o contactar directamente al proveedor a fin de requerir la prestación de sus servicios. En estos escenarios, el proveedor accederá a un formulario a fin de presentar su propuesta ante el requerimiento de Snk809.<br><br>
    El proveedor acepta que las propuestas que envíe la obligan, bajo los términos ofrecidos y los propuestos por Snk809, motivo por el que de desistirse de una propuesta presentada, el proveedor será responsable por los daños generados, además de las penalidades en las que pueda incurrir.<br><br>
    El proveedor declara que se encuentra en capacidad de satisfacer toda propuesta enviada, y que la información remitida en las mismas es veraz, exacta y vigente.<br><br>
    En caso el proveedor no cumpla con la totalidad de su propuesta, esto puede acarrear penalidades, asimismo, el proveedor se hace responsable y responderá por los daños ocasionados por su incumplimiento, sea este parcial o total.

    <br><br><div class="subtittle">6. Suscripción de contratos y acuerdos</div><br>

    El proveedor declara tener conocimiento de que, a fin de poder prestar sus servicios a Snk809, ésta les puede exigir la suscripción de contratos o acuerdos adicionales a los presentes Términos.<br><br>
    La suscripción de dichos contratos o acuerdos no afecta la validez de los presentes Términos. Asimismo, la aceptación de los presentes Términos no afecta la validez de los contratos o acuerdos que hubiesen sido suscritos entre Snk809 y el proveedor.

    <br><br><div class="subtittle">7. Confidencialidad</div><br>

    El proveedor acepta que toda información que les sea remitida por Snk809 es confidencial, por lo que se obliga a no divulgarla. Si el proveedor incumple con esta obligación, será responsable de los daños causados.<br><br>
    En caso requiera divulgar dicha información a sus colaboradores, El proveedor se obliga a responder por los daños causados por la divulgación de la información por parte de sus colaboradores.

    <br><br><div class="subtittle">8. No competencia</div><br>

    La tribu acepta encontrarse impedida de contactar directamente u ofrecer servicios a los clientes de Snk809 a los que haya podido acceder, directa o indirectamente.<br><br>
    Adicionalmente, el proveedor acepta encontrarse impedida de poder incursionar, directa o indirectamente, en la actividad en la que se especializa Transforma Digital, la cual consiste en ofrecer un servicio completo a sus clientes, que incluye diseñar proyectos tecnológicos que solucionen los problemas de sus clientes y, al mismo tiempo, realizar la búsqueda de proveedores, a fin de que estas participen de las distintas etapas que requiere la elaboración de los proyectos tecnológicos solicitados por sus clientes.

    <br><br><div class="subtittle">9. Uso y garantía de la plataforma</div><br>

    Snk809 no garantiza la disponibilidad o continuidad del funcionamiento de la plataforma LUCI. Esto significa que Snk809 no será responsable por cualquier daño que pueda derivarse de:<br><br>
    La falta de disponibilidad o accesibilidad a la plataforma en cualquier momento,<br><br>
    La interrupción en el funcionamiento de la plataforma o fallos informáticos, fallos en servicios de telecomunicaciones, desconexiones, retrasos o bloqueos causados por deficiencias o sobrecargas en las líneas telefónicas, centros de datos, en el sistema de Internet o en otros sistemas electrónicos, producidos en el curso de su funcionamiento; u,<br><br>
    Otros daños que puedan ser causados por terceros mediante intromisiones no autorizadas o ajenas al control de Snk809.

    <br><br><div class="subtittle">10. Pagos</div><br>

    Los pagos por los servicios brindados por el Proveedor serán realizados conforme a la propuesta brindada y a las condiciones que haya establecido Snk809.

    <br><br><div class="subtittle">11. Propiedad intelectual</div><br>

    El proveedor acepta la cesión, licencia o transferencia (según sea el caso) de la totalidad de los derechos de propiedad intelectual que se deriven de todo entregable elaborado por el proveedor en cumplimiento de sus propuestas, en la medida que esto sea permitido por el ordenamiento jurídico.<br><br>
    El proveedor declara que ningún entregable realizado implicará una infracción o violación a la normativa de propiedad intelectual. En caso se dé este supuesto, El Proveedor será responsable de todos los daños ocasionados.

    <br><br><div class="subtittle">12. Notificaciones</div><br>

    El proveedor acepta que Snk809 le podrá comunicar toda información relevante a través de los datos de contacto que el Proveedor haya registrado.

    <br><br><div class="subtittle">13. Política de privacidad</div><br>

    El proveedor acepta que sus datos sean tratados de acuerdo a la siguiente Política de Privacidad y Tratamiento de Datos Personales: <a href="{% url 'site:legal-info:data-policy' %}">Política de privacidad de LUCI</a>

    <br><br><div class="subtittle">14. Consultas y/o reclamos</div><br>

    La tribu podrá enviar una consulta o presentar un reclamo a la siguiente dirección: soporte@neomadas.com

    <br><br><div class="subtittle">15. Legislación aplicable</div><br>

    Los Términos se rigen por las normas de la República del Perú.<br><br>
    Toda controversia derivada o relacionada con los Términos será resuelta mediante laudo definitivo e inapelable emitido en un arbitraje organizado por el Centro de Arbitraje Arbitec de Arbitec S.A.C, a cuyas normas, administración y decisión se someten el proveedor y Snk809. Dicho arbitraje será conducido por un Tribunal Arbitral unipersonal elegido por el Centro.<br><br>
    Para efectos de esta cláusula, se fijan como domicilios procesales las siguientes direcciones de correo electrónico:<br><br>
    Snk809: contacto@neomadas.com.<br><br>
    El Proveedor: La dirección de correo electrónico registrada en la plataforma LUCI.

    <br><br><div class="subtittle">16. Modificación a los Términos</div><br>

    Los Términos son de libre acceso para la consulta del proveedor, lo que significa que pueden ser almacenados por el proveedor.<br><br>
    Snk809 se reserva el derecho de modificar, en cualquier momento, los Términos. Estas modificaciones serán efectivas cuando sean publicadas en la plataforma LUCI. En caso lo estime conveniente, Snk809 podrá comunicar estas modificaciones directamente a la tribu.<br><br>
    Snk809 se reserva el derecho de suspender, paralizar, eliminar, transferir o interrumpir la plataforma LUCI.

</p>
{% endblock %}
