{# Copyright Snk809, Inc. All rights reserved. #}
{% extends 'neodash/base.html' %}

{% load neodash_nav %}

{% block nav %}
{% neodash_nav_item 'neodash:home' '🏠' %}
{% neodash_nav_item 'onboard:dashboard' 'Onboard' %}
{% neodash_nav_mark 'Candidatos' %}
{% endblock %}

{% block content %}
<h1>Candidatos</h1>
Opciones:
<ul>
  <li><a href="{% url 'onboard:applicant:list' %}">Listar candidatos</a></li>
  <li><a href="{% url 'onboard:applicant:create' %}">Crear candidato</a></li>
</ul>
{% endblock %}
